{% extends "basic/layout.html" %}

{% set script_files = script_files + [
'_static/jquery.min.js',
'_static/bootstrap.js',
'_static/doc.js',
'_static/jquery.noconflict.js',
] %}

{% set classes = [] %}
{% if pagename == master_doc %}
  {% set classes = classes + ['index'] %}
{% endif %}

{% if 'code-column' in meta %}
  {% set classes = classes + ['has_code_col'] %}
{% endif %}

{%- block doctype -%}
  <!doctype html>
{%- endblock -%}
{%- block htmltitle -%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:500,600" rel="stylesheet">
  {{ super() }}
{%- endblock -%}

{%- block sidebar1 -%}{%- endblock -%}
{%- block sidebar2 -%}{%- endblock -%}
{%- block relbar1 -%}{%- endblock -%}
{%- block relbar2 -%}{%- endblock -%}

{%- block footer -%}
  {%- if google_analytics_key -%}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ google_analytics_key }}', 'auto');
    ga('send','pageview');
    </script>
  {%- endif -%}
{%- endblock -%}

{%- block header -%}
  <header class="o_main_header o_has_sub_nav o_inverted {{ ' '.join(classes) }}">
    <div class="o_main_header_main">
      <a class="pull-left o_logo" href="/"></a>
      <a href="#" class="o_mobile_menu_toggle visible-xs-block pull-right">
        <span class="sr-only">Toggle navigation</span>
        <span class="mdi-navigation-menu"></span>
      </a>
      <div class="o_header_buttons">
        <a href="http://www.flectra.com/trial" class="btn btn-primary">Start Now</a>
      </div>
      <ul class="o_primary_nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Apps</a>
          <div class="dropdown-menu o_secondary_nav">
            <div class="container">
              <div class="row">
                <div class="col-sm-3 o_website_apps">
                  <div class="o_nav_app_family">
                    <span></span> Websites
                    <div>Build great user experience</div>
                  </div>
                  <ul>
                    <li><a href="https://www.flectra.com/page/website-builder">Website Builder</a></li>
                    <li><a href="https://www.flectra.com/page/e-commerce">eCommerce</a></li>
                    <li><a href="https://www.flectra.com/page/blog-engine">Blogs</a></li>
                    <li><a href="https://www.flectra.com/page/community-builder">Forums</a></li>
                    <li><a href="https://www.flectra.com/page/slides">Slides</a></li>
                    <li><a href="https://adspike.flectra.com">SEA</a></li>
                  </ul>
                </div>
                <div class="col-sm-3 o_sale_apps">
                  <div class="o_nav_app_family">
                    <span></span> Sales
                    <div>Boost your success rate</div>
                  </div>
                  <ul>
                    <li><a href="https://www.flectra.com/page/sales">Sales</a></li>
                    <li><a href="https://www.flectra.com/page/crm">CRM</a></li>
                    <li><a href="https://www.flectra.com/page/billing">Invoicing</a></li>
                    <li class="dropdown">
                      <a href="#0" class="dropdown-toggle">Point of Sale</a>
                      <ul>
                        <li><a href="https://www.flectra.com/page/point-of-sale">Shops</a></li>
                        <li><a href="https://www.flectra.com/page/pos-restaurant">Restaurants</a></li>
                      </ul>
                    </li>
                    <li><a href="https://www.flectra.com/page/subscriptions">Subscriptions</a></li>
                    <li><a href="https://www.flectra.com/page/sign">Sign</a></li>
                  </ul>
                </div>
                <div class="col-sm-3 o_operation_apps">
                  <div class="o_nav_app_family">
                    <span></span> Operations
                    <div>It's all about efficiency</div>
                  </div>
                  <ul>
                    <li><a href="https://www.flectra.com/page/accounting/">Accounting</a></li>
                    <li><a href="https://www.flectra.com/page/project-management/">Project</a></li>
                    <li class="dropdown">
                      <a href="#0" class="dropdown-toggle">Human Resources</a>
                      <ul>
                        <li><a href="https://www.flectra.com/page/recruitment">Recruitment</a></li>
                        <li><a href="https://www.flectra.com/page/employees">Employees</a></li>
                        <li><a href="https://www.flectra.com/page/expenses">Expenses</a></li>
                        <li><a href="https://www.flectra.com/page/appraisal">Appraisal</a></li>
                        <li><a href="https://www.flectra.com/page/fleet">Fleet</a></li>
                        <li><a href="https://www.flectra.com/page/leaves">Leaves</a></li>
                      </ul>
                    </li>
                    <li><a href="https://www.flectra.com/page/warehouse">Inventory</a></li>
                    <li><a href="https://www.flectra.com/page/purchase">Purchase</a></li>
                    <li class="dropdown">
                      <a href="#0" class="dropdown-toggle">Manufacturing</a>
                      <ul>
                        <li><a href="https://www.flectra.com/page/manufacturing">MRP</a></li>
                        <li><a href="https://www.flectra.com/page/plm">PLM</a></li>
                        <li><a href="https://www.flectra.com/page/maintenance">Maintenance</a></li>
                        <li><a href="https://www.flectra.com/page/quality">Quality</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-3 o_productivity_apps">
                  <div class="o_nav_app_family">
                    <span></span> Productivity Tools
                    <div>Great Tools = Happy People</div>
                  </div>
                  <ul>
                    <li class="dropdown">
                      <a href="#0" class="dropdown-toggle">Communication</a>
                      <ul>
                        <li><a href="https://www.flectra.com/page/discuss">Discuss</a></li>
                        <li><a href="https://www.flectra.com/page/discuss-groups">Mailing Lists</a></li>
                        <li><a href="https://www.flectra.com/page/notes">Notes</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Appointment</a></li>
                      </ul>
                    </li>
                    <li><a href="https://www.flectra.com/page/timesheet">Timesheet</a></li>
                    <li><a href="https://www.flectra.com/page/email-marketing">Email Marketing</a></li>
                    <li><a href="https://www.flectra.com/page/events">Events</a></li>
                    <li><a href="https://www.flectra.com/page/survey">Survey</a></li>
                    <li><a href="https://www.flectra.com/page/live-chat">Live Chat</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <a href="http://www.flectra.com/apps/modules" class="o_store_link"><i class="fa fa-cube fa-fw"></i> Third party apps</a>
          </div>
        </li>
        <li><a href="https://www.flectra.com/page/tour">Tour</a></li>
        <li><a href="https://www.flectra.com/pricing">Pricing</a></li>
        <li><a href="https://www.flectra.com/page/docs">Docs</a></li>
      </ul>
    </div>
    <nav class="navbar o_sub_nav">
      <div class="container">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed text-left btn-block" data-toggle="collapse" data-target="#o_sub-menu" aria-expanded="false">
              Navigate
              <span class="mdi-hardware-keyboard-arrow-down pull-right"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="o_sub-menu">
          <ol class="o_breadcrumb breadcrumb nav navbar-left">
              {% block breadcrumb_desktop %}
              {% include "breadcrumb_list.html" %}
              {% endblock %}
          </ol>

          <div class="call-to-action navbar-right hidden-xs">
            <a href="http://www.flectra.com/trial" class="btn btn-primary">Start Now</a>
          </div>

          <ul class="navbar-nav navbar-right nav o_sub_nav_actions">
            {% if pagename != master_doc %}
              <li class="divider"></li>
            {% endif%}

            {% block switchers_desktop %}
            {% include "switchers_list.html" %}
            {% endblock %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if languages or versions %}
              <li class="divider"></li>
            {% endif %}

            {% block sub_menu_desktop %}
            {% include "sub-menu_list.html" %}
            {% endblock %}

            {% if languages or versions %}
              <li class="divider"></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

{%- endblock -%}

{%- block content -%}
  <div id="wrap" class="{{' '.join(classes) }}">
    {% if meta['banner'] %}
    {% set has_banner = 'has_banner' %}
    {% endif %}
    <figure class="card top {{ has_banner }}">
      <span class="card-img" {% if meta['banner'] %}style="background-image: url('{{ pathto('_static/' + meta['banner'], True) }}');"{% endif %}></span>
      <div class="container text-center">
        <h1> {{ meta.get('main-title', title) }} </h1>
      </div>
    </figure>
    {% if 'code-column' in meta %}
    {% set container = 'container-fluid' %}
    {% else %}
    {% set container = 'container' %}
    {% endif %}
      <main class="container {{ ' '.join(classes) }}">
        {% if pagename != master_doc %}
        <div class="o_content row">
          {% if 'has-toc' not in meta and not (pagename in toc) %}
          <aside>
            <div class="navbar-aside text-center">
              {{ toc }}
              {% if github_link %}
              <p class="gith-container"><a href="{{ github_link(mode='edit') }}" class="gith-link">
                  Edit on GitHub
              </a></p>
              {% endif %}
            </div>
          </aside>
          {% endif %}
          <article class="doc-body {% if 'has-toc' in meta %}doc-toc{% endif %}{% if pagename in toc%}index-category{% endif %}">
            {% endif %}
            {% block body %} {% endblock %}
          {% if pagename != master_doc %}</article>
        </div>
        {% endif %}
        <div id="mask"></div>
      </main>
  </div>

  <div class="floating_action_container">
    <a id="floating_action" class="ripple" href="#">
      <i class="mdi-action-explore"></i>
    </a>
    <div id="floating_action_menu">
      <span class="bubble"></span>
      <ul class="list-group content">
        <li class="list-group-item ripple"><a>Cras justo odio</a></li>
        <li class="list-group-item ripple"><a>Dapibus ac facilisis in</a></li>
        <li class="list-group-item ripple"><a>Morbi leo risus</a></li>
        <li class="list-group-item ripple"><a>Porta ac consectetur ac</a></li>
        <li class="list-group-item ripple"><a>Vestibulum at eros</a></li>
      </ul>
    </div>
  </div>
  <footer>
    <div id="footer" class="container">
      <span class="o_logo o_logo_inverse center-block o_footer_logo"></span>
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-6">
          <div class="row">
            <div class="col-xs-6 col-sm-4">
              <span class="menu_title">Community</span>
              <ul>
                <li><a href="https://github.com/flectra/flectra">Github</a></li>
                <li><a href="http://www.flectra.com/page/download">Download</a></li>
                <li class="divider"></li>
                <li><a href="http://runbot.flectra.com/runbot/repo/git-github-com-flectra-enterprise-7">Runbot</a></li>
                <li><a href="https://github.com/flectra/flectra/wiki/Translations">Translations</a></li>
                <li class="divider"></li>
                <li><a href="http://www.flectra.com/page/flectra-community">Mailing Lists</a></li>
                <li><a href="http://www.flectra.com/forum/help-1">Forum</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <span class="menu_title">Services</span>
              <ul>
                <li><a href="http://www.flectra.com/pricing">Editions</a></li>
                <li><a href="http://www.flectra.com/pricing-online">Cloud Pricing</a></li>
                <li><a href="http://www.flectra.com/page/upgrade">Upgrade</a></li>
                <li class="divider"></li>
                <li><a href="http://www.flectra.com/partners">Find a partner</a></li>
                <li><a href="http://www.flectra.com/page/become-a-partner">Become a partner</a></li>
                <li class="divider"></li>
                <li><a href="http://www.flectra.com/page/education-program">Education</a></li>
                <li class="divider"></li>
                <li><a href="http://www.flectra.com/page/security">Security</a></li>
              </ul>
            </div>
            <div class="col-sm-4 mb64">
              <span class="menu_title">About us</span>
              <ul>
                <li><a href="http://www.flectra.com/page/about-us">Our company</a></li>
                <li><a href="http://www.flectra.com/page/contactus">Contact</a></li>
                <li class="divider" />
                <li><a href="http://www.flectra.com/event">Events</a></li>
                <li><a href="http://www.flectra.com/blog/">Blog</a></li>
                <li><a href="http://www.flectra.com/blog/6">Customers</a></li>
                <li class="divider" />
                <li><a href="http://www.flectra.com/jobs">Jobs</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-md-4 col-md-offset-1 col-lg-5 col-lg-offset-1">
          <p>
            <small>
              Flectra is a suite of open source business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc.
              <br/><br/>
              Flectra's unique value proposition is to be at the same time very easy to use and fully integrated.
            </small>
          </p>
        </div>
      </div>
    </div>
    <div class="o_footer_bottom">
      <div class="container">
        <a class="small" href="http://www.flectra.com/page/website-builder">Website made with <span class="o_logo o_logo_inverse o_logo_15"></span></a>
        <div class="social-links pull-right">
          <a href="http://www.flectra.com/web/about/facebook"><i class="fa fa-facebook"></i></a>
          <a href="http://www.flectra.com/web/about/twitter"><i class="fa fa-twitter"></i></a>
          <a href="http://www.flectra.com/web/about/linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="mailto:info@flectra.com"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </footer>
{%- endblock -%}
