.oe_website_sale {
    .td-wish-btn {
        width: 140px;
    }
}

// XS size
@media (max-width: @screen-xs-max) {
    .oe_website_sale {
        .td-wish-btn {
            width: 100px;
        }
    }
}                                